body {
    background-image: url(../img/Sem\ Título-2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 20%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

header, main, section, article {
    max-width: 700px;
}

header >h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: center;
    opacity: 100%;
}

#item {
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
    background-color: rgb(55, 39, 66);
    opacity: 80%;
    margin: auto;
    
}

#titulo {
    
    color: white;
    margin: 10% 7%;
    height: 200px;
    width: 600px;
   
}

label {
    
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    padding: 200px 2px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 10px;
   
}

input[type=button], button {
    width: 60%;
    background-color: #afa8dd;
    font-size: 100%;
    color: white;
    padding: 10px 30px;
    margin: 10px 10px;
    border: white;
    border-radius: 4px;
    cursor: pointer;
}
